---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"><i class="fa fa-calendar"> {{ page.date | date_to_string }}</i></span>
  <span class="post-tags">{% for tag in page.tags %}{% if forloop.first %}<i class="fa fa-tags" title="page tags"></i>{% endif %} <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}</span>
  {{ content }}
</div>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<div class="related">
  <h2>Related Posts</h2>
<ul>
  {% for post in site.posts %}
    {% if post.url != page.url %}
      {% for tag in page.tags %}
        {% if post.tags contains tag %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br /></li>
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
</div>
{% include disqus.html %}